<?xml version="1.0" ?>

<robot name="urs100" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find urs100_support)/urdf/urs100_inverted_macro.xacro"/>
    <xacro:urs100 prefix="" parent="base_link">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:urs100>
</robot>